@{
    ViewData["Title"] = "Features Page";
}
@model List<Feature>

<div class="text-center">
    @if (Model.Count > 0)
    {
        <h1>Feature list</h1>
        <a class="btn btn-primary" href="@Url.Action("Create", "Feature")">Inserisci una nuova feature</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Update","Feature", new {id = item.Id})">Update</a>
                            <form  asp-action="Delete" asp-controller="Feature" asp-route-id="@item.Id" method="post">
                                <button class="btn btn-danger">Delete</button>
                                </form>
                        </td>
                    </tr>
                }
            </tbody>
    </table>
    }else{
        <h1>Le features sono vuote</h1>
        <a class="btn btn-primary" href="@Url.Action("Create", "Feature")">Inserisci una nuova feature</a>
    }
</div>
